.form__container {
    display: flex;
    background-color: aqua;
    width: 50rem;
    align-content: center;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form__item {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}